.features {
    height: 50vh;
    width: 100vw;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        &:nth-of-type(2) {
            flex-direction: row-reverse;
        }
    }
    
    .content {
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            width: 70%;

            h2 {
                font-size: 2.1em;
                color: $headlines;
                margin-bottom: 1vh;
            }
    
            p {
                text-align: left;
                font-size: 1.5em;
                font-weight: 300;
                line-height: 1.5em;
                color: $textcolor;
            }
        }
    }

    .img {
        width: 50%;
        background-position: center;
        background-size: cover;
    }
}

.img-1 {
    background: url(../images/bg-showcase-1.jpg);
}

.img-2 {
    background: url(../images/bg-showcase-2.jpg);
}

.img-3 {
    background: url(../images/bg-showcase-3.jpg);
}

