main {
    padding-top: 60px;
}

.hero {
    height: 60vh;
    background: url(../images/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        @include overlay;
    }

    * {
        z-index: 1;
    }

    h2 {
        max-width: 50vw;
        font-size: 3.5em;
        text-align: center;
        color: white;
        margin-bottom: 40px;
    }

    form {
        @include form;
    }
    
    input {
        @include input;
    }

    .button {
        background-color: $accent;
        color: white;
        font-size: 1.2em;
        text-decoration: none;
        border: none;
        height: 50px;
        width: 150px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    
        &:hover {
            @include button-hover;
        }
    }
}