.testimonials {
    @include horizontal;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .img {
            width: 220px;
            height: 220px;
            border-radius: 220px;
            background-position: center;
            background-size: cover;
            box-shadow: 0px 10px 10px -3px rgba(0,0,0,0.5);
        }

        
        h2 {
            font-size: 1.5em;
            color: $headlines;
            margin-top: 3vh;
            margin-bottom: 3%;
        }

        p {
            text-align: center;
            font-size: 1.3em;
            font-weight: 300;
            line-height: 1.5em;
            color: $textcolor;
            max-width: 20vw;
        }
    }
}

.testi-1 {
    background: url(../images/testimonials-1.jpg);
}

.testi-2 {
    background: url(../images/testimonials-2.jpg);
}

.testi-3 {
    background: url(../images/testimonials-3.jpg);
}